{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
